<div class="container">
    <form action="/project/add?token=<%= token %>" method='post'>
        <input type='text' name='name' placeholder='project name'>
        <button>Add</button>

    </form>
    <a href='/'>Go Back</a>
</div>
