<div class="container">
    <h1>Welcome, <%= user.name %></h1>
    <div class="projects">
        <p>Your projects:</p>
        <%= allProjects.name %>
    </div>
    <div>
        <a href="/project/add?token=<%= token %>"><button id="add-project">Add project</button></a>
    </div>
</div>

