<div class="container">
    <div><h1><%= task.name %></h1></div>
    <div class="task-description">
        <p>Task description: </p>
        <%= task.description %>
    </div>

    <div class="task-comments">
        <p>Comments: </p>
    </div>

</div>
